*{
    margin:0;
    padding:0;
}
h1{
    background-color:red;
    color:white;
}
h2{
    background-color:green;
    color:white;
}
h3{
    background-color:lightpink;
    color:white;
}
h4{
    background-color:black;
    color:white;
}
h5{
    background-color:aqua;
    color:blueviolet;
}